# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/lighthouse-report*
lighthouse-report.*

# next.js
/.next/
/out/
/.claude/
/.cursor/
# production
/build

# misc
.DS_Store
*.pem
/media
/public/media

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
